.text{
    color: #ffffff;
    text-align: center;
    position: static;
    margin-top: 250px;
}
.prompt{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 75px;
}
.button{
    text-align: center;
}
#score{
    color: #ffffff;
    width: 400px;
    height: 100px;
    text-align: center;
    display: block;
    margin-left: 420px;
}
.yourScore{
    width: 200px;
    height: 100px;
    float: left;
}
.compScore{
    width: 200px;
    height: 100px;
    float: left;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url("casino.jpg");
    background-size: cover;
    background-position: center;
}
#updatePrompt{
    color: #ffffff;
}
#final{
    color: #ffffff;
}
